/*

Digital Rain character effect like in The Matrix move

@author mmxcrono
@repo github.com/mmxcrono/digital-rain

*/
html, body {
	margin: 0;
	padding: 0;
}

body {
	background: black;
}

.rain-column {
	display: inline-block;
}

.digital-rain {
	/* debug */
	/* border: 1pt solid red; */
	opacity: 0;
	color: darkgreen;
	font-size: 14pt;
	transform: scaleX(-1);

  -webkit-animation: become-opaque 2s infinite; /* Safari 4+ */
  -moz-animation:    become-opaque 2s infinite; /* Fx 5+ */
  -o-animation:      become-opaque 2s infinite; /* Opera 12+ */
  animation:         become-opaque 2s infinite; /* IE 10+, Fx 29+ */
}

.delay-1 {
	animation-delay: 100ms;
}
.delay-2 {
	animation-delay: 200ms;
}
.delay-3 {
	animation-delay: 300ms;
}
.delay-4 {
	animation-delay: 400ms;
}
.delay-5 {
	animation-delay: 500ms;
}
.delay-6 {
	animation-delay: 600ms;
}
.delay-7 {
	animation-delay: 700ms;
}
.delay-8 {
	animation-delay: 800ms;
}
.delay-9 {
	animation-delay: 900ms;
}
.delay-10 {
	animation-delay: 1000ms;
}
.delay-11 {
	animation-delay: 1100ms;
}
.delay-12 {
	animation-delay: 1200ms;
}
.delay-13 {
	animation-delay: 1300ms;
}
.delay-14 {
	animation-delay: 1400ms;
}
.delay-15 {
	animation-delay: 1500ms;
}
.delay-16 {
	animation-delay: 1600ms;
}
.delay-17 {
	animation-delay: 1700ms;
}
.delay-18 {
	animation-delay: 1800ms;
}
.delay-19 {
	animation-delay: 1900ms;
}
.delay-20 {
	animation-delay: 2000ms;
}

@-webkit-keyframes become-opaque {
  0%   {
		opacity: 1;
		color: #f0f0f0;
	}
	10%   {
		opacity:  .9;
		color: green;
	}
  100% {
		opacity: 0;
		color: darkgreen;
	}
}
@-moz-keyframes become-opaque {
  0%   {
		opacity: 1;
		color: #f0f0f0;
	}
	10%   {
		opacity:  .9;
		color: green;
	}
  100% {
		opacity: 0;
		color: darkgreen;
	}
}
@-o-keyframes become-opaque {
  0%   {
		opacity: 1;
		color: #f0f0f0;
	}
	10%   {
		opacity:  .9;
		color: green;
	}
  100% {
		opacity: 0;
		color: darkgreen;
	}
}
@keyframes become-opaque {
  0%   {
		opacity: 1;
		color: #f0f0f0;
	}
	10%   {
		opacity:  .9;
		color: green;
	}
  100% {
		opacity: 0;
		color: darkgreen;
	}
}